<div
    class="flex flex-col lg:flex-row items-center justify-between max-w-7xl mx-auto p-8 lg:p-16"
>
    <h2
        class="text-xl lg:text-4xl text-brown-yellow mb-8 tracking-[0.3em] font-light"
    >
        My Collection
    </h2>

    <!-- Text content (right side on desktop) -->
    <div class="w-full lg:w-1/2 text-center lg:text-left text-brown-sugar">
        <div class="text-sm lg:text-lg leading-relaxed space-y-6">
            <p>
                My collection commenced from my school days beginning with some
                items of my father's. Admiring my father's collection, I too
                started to collect many varieties of vintage and antiques such
                as brass, glass, silver etc. Without realizing, at last I found
                a huge collection of vintage items which I did not want to
                dispose of, and hence I decided to have my Gallery with all my
                collection. The main part of my items are made of brass which
                are very rare and extraordinary. I invite all antique lovers to
                visit my gallery.
            </p>
        </div>

        <a
            href="/collection"
            class="inline-block mt-8 hover:opacity-75 transition-opacity duration-300"
            aria-label="Learn more about our concept"
        >
        </a>
    </div>
</div>
