<div class="w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="grid lg:grid-cols-2 gap-8">
        <div class="p-12 bg-white rounded-lg">
            <div class="text-center space-y-8">
                <h2 class="text-2xl tracking-[0.25em] text-gray-800 font-light">
                    C A N E C U L T
                </h2>

                <div class="space-y-1">
                    <p class="text-brown-sugar">
                        Penthouse @ Arena by Serendia
                    </p>
                    <p class="text-brown-sugar">
                        133, 25 Narahenpita - Nawala Rd,
                    </p>
                    <p class="text-brown-sugar">Colombo 00500</p>
                    <p class="text-brown-sugar">Sri Lanka</p>
                </div>

                <div class="space-y-2">
                    <h3 class="text-brown-sugar font-medium">
                        General / Retail
                    </h3>
                    <p>
                        <span class="text-gray-600">Email: </span>
                        <a
                            href="mailto:hi@cane-cult.com"
                            class="text-brown-sugar hover:text-brown-yellow transition-colors"
                        >
                            hi@cane-cult.com
                        </a>
                    </p>
                    <p>
                        <span class="text-gray-600">Tel: </span>
                        <a
                            href="tel:+94769011610"
                            class="text-brown-sugar hover:text-brown-yellow transition-colors"
                        >
                            +94 72 925 9763
                        </a>
                    </p>
                </div>

                <div class="space-y-2">
                    <h3 class="text-brown-sugar font-medium">
                        Projects / Consultation / Made-to-order
                    </h3>
                    <p>
                        <span class="text-gray-600">Email: </span>
                        <a
                            href="mailto:zully@cane-cult.com"
                            class="text-brown-sugar hover:text-brown-yellow transition-colors"
                        >
                            zully@cane-cult.com
                        </a>
                    </p>
                    <p>
                        <span class="text-gray-600">Tel: </span>
                        <a
                            href="tel:+94769011610"
                            class="text-brown-sugar hover:text-brown-yellow transition-colors"
                        >
                            +94 (0) 76 901 1610
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="h-full min-h-[450px] rounded-lg">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.921305892673!2d79.85621887614712!3d6.900014893099228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae2596309dfdd3f%3A0x45a4b0e7834ac0d4!2sUniversity%20of%20Colombo!5e0!3m2!1sen!2slk!4v1737349477811!5m2!1sen!2slk"
                class="w-full h-full grayscale"
                allowfullscreen=""
                loading="lazy"
                title="Shop Location"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
